body {
  font-family: "Lucida-Bright";
}

li {
  list-style: none;
}

.header {
  background-color: #D3D3D3;
  color: #000;
  height: 110px;
}

.header-logo {
  font-size: 36px;
  padding: 20px 40px;
  font-family: Lucida-Bright;
}

.main {
  padding: 100px 80px;
  background-color: #D3D3D3;
}

.copy-container h2 {
  font-size: 60px;
  font-family: Lucida-Brigh;
}

.copy-container h3 {
  font-size: 60px;
  font-family: Lucida-Bright;
}

.copy-container h4 {
  font-size: 60;
  font-family: Lucida-Bright;
}

.contents {
  height: 500px;
  margin-top: 100px;
}

.contents-item {
  margin-right: 40px;
}

.contents-item img {
height: 300px;
width: 200px;
}

.footer {
  background-color: #D3D3D3;
  color: #000;
  height: 200px;
  padding: 40px;
}

.footer-logo {
  font-size: 32px;
  font-family: Lucida-Bright;
}

.footer-list li {
  padding-bottom: 20px;
  font-family: Lucida-Bright;
}
